<div class="splash-content">
  <h3>Sign In</h3>
  <form action="<%= session_url%>" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>"
  >
  <label for="username-input">Username</label>
  <input
    id="username-input"
    type="text"
    name="user[username]"
    value="<%= @user.username %>"
  >
  <label for="password-input">Password</label>
  <input
    type="password"
    name="user[password]"
    id="password-input"
  >
  <button class="button">Log In</button>
  </form>
</div>