// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#shopping-cart-container{
  display: flex;
  justify-content: space-between;


  border-bottom: 1px solid #ddd;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;

}

#shopping-cart-title{
  font-size: 28px;
  font-weight: 400;
  line-height: 36px;
}

#shopping-cart-price{
  margin-right:180px
}


#cart-item{
  display: grid;
  grid-template-columns: 200px 1fr 200px;

  margin: 15px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}


#cart-item-img{
  height: auto;
  width: 180px;
}

#cart-item-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
}


#cart-item-description{
  font-size: 16px;
  line-height: 20px;
}

#cart-item-delete-button{
  margin: 15px;
}





#cart-splitter{
  display: grid;
  grid-template-columns: 7fr 2fr;
}



#checkout-container{
  font-size: 20px;
  margin: 15px;
  border: 1px solid black;
  height: 200px;
  padding:15px;
}



#cart-proceed-to-checkout-button{
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: center;  
}

.cart-redirect-button{
  width: 80%;
  height: auto;
  font-family: "Amazon Ember",Arial,sans-serif;
  text-decoration: none;
  color: #333333;
  padding: 6px 12px 6px 12px;
  border-radius: 5px;
  font-size: 60%;
}


#cart-checkout-redirect-button{
  background-color: #FFD814;
  border-color: transparent;
}

#cart-checkout-redirect-button:hover{
  background-color: #F7CA00;
  cursor: pointer;
}

#cart-checkout-redirect-button:active{
  background-color: #AA7E0E;
}
