#item-div{
  background-color: white;
  z-index: 5;
  height: 30vh;
  width: 90%;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  gap: 5px;

  margin: 10px;
  padding: 10px;


}

#item-title{
  // width: 100%;
  // text-align: left;
  margin-left: 10px;
  font-size: 21px;
  font-weight: 700;
  color: #0F1111;
  padding: 5px 10px 5px 10px
}

#item-img-div{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  height: 60%;
  max-height: 350px;
  width: 80%;
}

#item-img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

#item-desc-div{
  height: 16px;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // text-overflow: ellipsis;
  // text-decoration: none;
}

#item-desc{
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

#item-desc-link{
  text-decoration: none;
  color: #007185;
  font-size: 1.1rem;
}
