// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#product-show-container{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#show-to-product-container{
  // background-color: lightblue;

}

#product-container{
  // background-color: lightcoral;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;

  padding-top: 70px;
}

#product-img-container{
  // background-color: lightgray;
  padding: 10px;
}

#product-img{
  width: 100%;
  height: auto;
}


#product-body-container{
  // background-color: lightgreen;
  padding: 10px;
}

#product-body-title{
  // background-color: lightseagreen;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
}

#product-body-price{
  // background-color: white;
  height: 30px;
  display: flex;
  align-items: center;
}

#product-body-price-label{
  margin-top: 0px;
  margin: 3px;
}

#product-body-price-cost{
  color:#B12704;
  font-size: 18px;
  line-height: 24px!important;
  margin: 3px;
}
#product-body-price-cost-symbol{
  margin: 3px;
}

#product-body-price-cost-text{
  margin: 3px;
}
#product-body-description{
  // background-color: lightyellow;
  font-size: 20px;
}

#product-body-description-title{
  font-weight: 600;
}


#product-body-description-ul{
  text-decoration: none;
  list-style: inside;
  font-size: 16px;
}

#product-body-description-li{
  margin: 5px;
  line-height: 1.5rem;
}



#product-purchase-container{
  // background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-purchase-border{
  height: 90%;
  width: 90%;
  border-radius: 8px;
  border: 1px #ddd solid;
  padding: 10px;
}

#product-purchase-shipping-description-long{
  margin-top: 20px;
  margin-bottom: 20px;
}

#product-purchase-shipping-description-free-delivery{
  display: inline;
  color: #007185;
}

#product-purchase-shipping-description-free-delivery:hover{
  text-decoration: underline;
  color:#C7511F;
  cursor: pointer;
}

#product-purchase-shipping-description-short{
  margin-bottom: 20px;
}


#product-purchase-button-container{
  margin-top: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.product-purchase-button{
  width: 100%;
  height: auto;
  font-family: "Amazon Ember",Arial,sans-serif;
  text-decoration: none;
  color: #333333;
  padding: 6px 12px 6px 12px;
  border-radius: 20px;
  font-size: 70%;
}


#product-purchase-cart-button{
  background-color: #FFD814;
  border-color: transparent;
}

#product-purchase-cart-button:hover{
  background-color: #F7CA00;
  cursor: pointer;
}

#product-purchase-cart-button:active{
  background-color: #AA7E0E;
}

#product-purchase-buy-button{
  background-color: #FFA41C;
  border-color: transparent;
}

#product-purchase-buy-button:hover{
  background-color: #FA8900;
  cursor: pointer;
}

#product-purchase-buy-button:active{
  background-color: #AA7E0E;
}


#show-horizontal-rule{
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #d2d2d2;
  width: 100%;
  line-height: 19px;
  margin-top: 15px;
  margin-bottom: 15px;

}



#product-show-review-text{
  font-size: 20px;
  font-weight: 700;
}


strong{
  font-weight: bolder;
}

