.search{
  width: 100%;
  height: 100%;
}

.searchInputs{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-form{
  width: 90%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 75px;
}

.search-bar-form > input{
  font-size: 24px;
}

#search-bar-button{
  // height: 80%;
  // width: 80%;
  background-color: #f0c14b;
  // color:white;
  border-radius: 5px;
  cursor:pointer;
}