// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.button {
  // font: bold 11px Arial;
  font-family: "Amazon Ember",Arial,sans-serif;
  text-decoration: none;
  // background-color: #f0c14b;
  color: #333333;
  padding: 6px 12px 6px 12px;
  background:#f0c14b;
  border-style: solid;
  border-width: 1px;
  border-color:#a88734 #9c7e31 #846a29;
  border-radius: 5px;
  font-size: 16px;
}

.button:hover{
  cursor: pointer;
  background: #E2A712;
}

.button:active{
  background: #AA7E0E;
}

body{
  font-family: "Amazon Ember",Arial,sans-serif;
  font-size: 15px;
  color:#2E2532;
}

