#thank-you-container{
  // background-color: lightblue;
  display: flex;
  justify-content: center;
}

#thank-you-center{
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // display: grid;
  // grid-template-columns: 1fr;
}


#thank-you-thank-you-text{
  font-size: 8em;
  text-align: center;
  // font-weight: 100;

}
#thank-you-check-out-text{
  font-size: 6em;
  text-align: center;
}

#thank-you-dog-img{
  text-align: center;
}